/* fonts */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* main content styles */
.main-content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.secondary-title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 11px;
  margin-top: 0px;
}
.orange-text {
  color: #fb6d3a;
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.separator {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* about styles */
.about {
  margin-bottom: 40px;
}
.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
}
/* projects styles */
.projects {
  margin-bottom: 50px;
}
.projects-list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 0px;
  list-style-position: inside;
}
.projects-list-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 15px;
}
.project-dots {
  color: #a8a8a8;
}
.brackets {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* work styles */
.work {
  margin-bottom: 43px;
}
.position {
  margin-bottom: 16px;
}
.responsibilities-list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding-left: 0px;
  margin-left: 15px;
  color: #595959;
}
.responsibilities-list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education styles */
.speciality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
  margin-top: 0px;
}

/* sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.sidebar-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 8px;
}

/* photo styles */

.photo {
  width: 370px;
  margin-bottom: 51px;
}

/* contacts styles */

.contacts,
.skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 47px;
}
.contact-type {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}
.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}

/* skills styles */

.skills {
  margin-bottom: 44px;
}
.skills-list {
  color: #ffffff;
  padding: 0px;
  list-style-position: inside;
}
.skills-item {
  color: #fb6d3a;
}
.skills-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
